<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Notes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{nav.html :: nav}"></div>
<div class="container">
    <h1 class="mt-5">List of Notes</h1>
    <a class="btn btn-primary mt-3 mb-3" th:href="@{/note/add}">Add Note</a>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notes}">
            <td th:text="${note.id}"></td>
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/note/edit(id=${note.id})}">Edit</a>
            </td>
            <td>
                <form method="post" th:action="@{/note/delete}">
                    <input type="hidden" name="id" th:value="${note.id}"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-XJdD5nAuz80p5r5+P4E7aFY0eCExJtkh4G4j/bhtH1xTKLoSg0LEQVEfrhTULZ7Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+hBQJo+Y6anLIZxnRHfV6U/20OzX7IuHQI6z5"
        crossorigin="anonymous"></script>
</body>
</html>